[submodule "app/frontend"]
	path = app/frontend
	url = git@github.com:jhonsstn/alugaphone-frontend.git
[submodule "app/backend"]
	path = app/backend
	url = git@github.com:jhonsstn/alugaphone-backend.git
